@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navigation Bar */
.navbar {
    height: 80px;
    width: 100%;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    /* Adjust the height as needed */
    background-color: #41644A;
    /* Green color code */
}

.navbar-brand {
    margin-left: 30px;
    color: black;
    font-size: 25px;
    margin-right: 800px;
    font-weight: normal;
}

.navbar-brand:hover {
    color: green;
}

.navbar-brand img {
    margin-right: 15px;
}

.navbar-toggler {
    color: black;
}

/* Log in Button */
.modal-content .btn-close:hover {
    color: white;
}

/* Modal Button */
.stupar-button {
    text-align: left;
    border-top-left-radius: 0;
    /* Set the top-left corner to be straight */
    border-top-right-radius: 0;
    /* Set the top-right corner to be straight */
    border-bottom-left-radius: 3%;
    /* Set the bottom-left corner to be circular */
    border-bottom-right-radius: 3%;
    /* Set the bottom-right corner to be circular */
}

/* Main Section */
.main {
    background: url(../images/homepage/tshs.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    width: 100%;
}

/* Registered Users Section */
.count {
    background: url(../images/homepage/lms2.jpg)no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    background-position: center;
    margin-top: 20px;
}

/* Footer Section */
.footer {
    background-color: #41644A;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 4px solid #F2E3DB;
}

.circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #F2E3DB;
    border-radius: 50%;
    transition: background-color 0.3s;
    /* Add transition for a smooth hover effect */
}

.circle-icon:hover {
    background-color: #263A29;
    /* Change the background color on hover */
}

/* Adjust the color and size of the icon as needed */
.circle-icon i {
    font-size: 24px;
    color: #263A29;
}

/* Apply style to the icon on hover */
.circle-icon:hover i {
    color: #F2E3DB;
}

/* Responsive */
/* Adjust styles for screens up to 768px width */
@media (max-width: 768px) {

    /* Navbar adjustments */
    .navbar {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
    }

    .navbar-brand {
        margin-right: 0;
        /* Center-align the navbar-brand */
    }

    .main {
        background-size: cover;
        height: auto;
        background-position: center;
        padding: 80px 0;
    }

    .navbar-toggler {
        margin-left: auto;
        /* Move the toggler button to the right */
        margin-right: 15px;
        /* Add some space between toggler and login button */
    }

    .btn-outline-success {
        margin-top: -5px;
        /* Adjust top margin of login button */
    }

    .btn-outline-success:hover {
        background-color: #4BB543;
        /* Replace with desired hover color */
        border-color: #4BB543;
        /* Adjust border color accordingly */
        color: #fff;
        /* Set the text color to white or any contrasting color */
    }

    /* Replace logo image source */
    .navbar-brand img {
        margin-left: -30px;
        display: block;
        /* Show the logo image for smaller screens */
        content: url("../images/trace.svg");
        /* Replace with actual path */
    }

    .desktop-text {
        display: none;
    }

    .footer .col {
        text-align: center;
        /* Center-align the icons */
        margin-top: 10px;
        /* Add top margin */
    }

    body,
    html {
        margin: 0;
        padding: 0;
    }

}

/* Show a different logo image for screens up to 480px width */
@media (max-width: 480px) {
    .main {
        background-size: cover;
        height: auto;
        background-position: center;
        padding: 80px 0;
    }

    .navbar-brand img {
        margin-left: -30px;
        display: block;
        /* Show the logo image for smaller screens */
        content: url("../images/trace.svg");
        /* Replace with actual path */
    }

    .desktop-text {
        display: none;
    }

    .footer .col {
        text-align: center;
        /* Center-align the icons */
        margin-top: 10px;
        /* Add top margin */
    }

    /* Adjust margins and padding */
    body,
    html {
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 583px) {
    .main {
        background-size: cover;
        height: auto;
        background-position: center;
        padding: 80px 0;
    }

    .navbar-brand img {
        margin-left: -30px;
        display: block;
        /* Show the logo image for smaller screens */
        content: url("../images/trace.svg");
        /* Replace with actual path */
    }

    .desktop-text {
        display: none;
    }

    .footer .col {
        text-align: center;
        /* Center-align the icons */
        margin-top: 10px;
        /* Add top margin */
    }

    /* Adjust margins and padding */
    body,
    html {
        margin: 0;
        padding: 0;
    }
}