@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: grey;
}

.navbar {
    height: 10vh;
    border-bottom: 1px solid #ccc;
}

.go-back {
    margin-bottom: 8px;
    margin-left: 15px;
    margin-right: 22px;
    border: none;
    background-color: transparent;
    font-weight: normal;
}

.custom-icon {
    color: darkslategrey;
    font-size: 20px;
    transform: scale(0.8);
    font-weight: normal;
}

/* Wrapper */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.card-body .form-control {
    border: none;
    border-radius: 0;
    font-size: 50px;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
}

.card-body .form-control:focus {
    border-color: transparent;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid green;
    background-color: transparent;
}

.card-body .title {
    border: none;
    border-radius: 0;
    font-size: 50px;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
}

.card-body .title:focus {
    border-color: transparent;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid green;
    background-color: transparent;
}

.card-body .description {
    border: none;
    border-radius: 0;
    font-size: 18px;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
}

.card-body .description:focus {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid green;
    background-color: transparent;
}

.card-body .short-answer {
    border-radius: 0;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
}

.card-body .auto-resize {
    border-radius: 0;
    overflow: hidden;
    resize: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
}

.form-check-input[type="radio"]:checked {
    border-color: green;
    background-color: green;
    color: #fff;
}

.card-body .radio {
    border-radius: 0;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
}

.form-check-input[type="checkbox"]:checked {
    border-color: green;
    background-color: green;
    color: #fff;
}

.card-body .checkbox {
    border-radius: 0;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
}

.card-body .delete_option {
    color: #ccc;
}

.card-header .form-control {
    border: none;
    font-size: 18px;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    margin-right: 30px;
}

.card-header .form-control:focus {
    border-color: transparent;
    /* Remove border */
    box-shadow: none;
    /* Remove box shadow */
    border-radius: 0;
    border-bottom: 2px solid green;
    background-color: transparent;
}

.custom-form-control {
    width: 60vh;
}